# =========================
# 💻 C++ Build Files
# =========================
*.out
*.exe
*.o

# =========================
# ⚙️ IDE Config Files
# =========================
.vscode/
.idea/

# =========================
# 🗃️ System or Backup Files
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

# =========================
# 💡 Object or Cache Folders
# =========================
build/
cache/
